.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 10px;
  width: 100%;
}

.main-header__img img {
  width: 35px;
}

.main-header-title {
  display: flex;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 10px;
}

.main-header-title__1 {
  font-size: 34px;
  font-weight: 900;
  font-family: "gullim400";
}

.main-header-title__2 {
  font-size: 30px;
  margin-top: 15px;
  font-weight: 500;
  font-family: "gullim400";
}

.wrapper {
  width: 100%;
  margin-top: 10px;
  padding-bottom: 308px;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-nav__data {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.main-nav__data i {
  margin-bottom: 10px;
  font-size: 30px;
  color: gray;
}

.main-nav__data span {
  font-size: 14px;
  color: black;
}

.main-nav__row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;

  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(211, 215, 220, 0.523);
}

#main-nav {
  position: sticky;
  top: 0px;
  z-index: 2000;
  padding-top: 30px;
}

#main-nav > div {
  display: flex;
}

.main-nav-hidden {
  display: none;
  position: sticky;
  top: 80px;
  z-index: 5000;
}

#main-nav :hover ~ nav.main-nav-hidden {
  display: block;
}

/* .main-nav-more :checked + .main-nav-hidden {
  display: block;
} */

.main-nav-hidden:hover {
  display: block;
}

#main-nav-more {
  /* display: none;  */
}
.main-nav-hidden {
  position: absolute;
  top: 85px;
  /* right: 50px; */

  z-index: 5000;
}
/* 이게 맞나??? */
.main-ad {
  width: 100%;
  height: 180px;
}

.main-ad__list {
  overflow-x: scroll;
  height: 100%;
  white-space: nowrap;
}

.main-ad__list-detail {
  width: 100%;
  height: 100%;

  display: flex;
}

.main-ad__list::-webkit-scrollbar {
  display: none;
}

.main-ad__list-detail img {
  width: 100%;
  height: 180px;
  white-space: nowrap;
}

#ad-bell {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  padding-bottom: 10px;
  padding-top: 10px;
}

#ad-bell__img {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ad-bell__img img {
  width: 100%;
  height: 100%;
}
#ad-bell__img i {
  font-size: 55px;
  color: rgb(230, 160, 38);
}

#ad-bell__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ad-bell__title span:first-child {
  font-size: 20px;
  color: tomato;
  font-family: gothic400;
  margin-bottom: 8px;
}

#ad-bell__title span:last-child {
  font-size: 20px;
  color: black;
  font-family: gothic400;
}

#ad-bell__detail span {
  font-size: 13px;
  color: gray;
  font-family: gothic300;
}
#ad-bell__detail {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#ad-bell__detail i {
  font-size: 13px;
  color: gray;
}

.event-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 20px 10px;
}

.event-nav__data {
  background-color: #f1f3f4;
  width: 130px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  color: goldenrod;
  margin: 0px 5px;
}

.event-nav__data span {
  margin-left: 7px;
  margin-top: 0px;
  margin-right: 5px;
  color: black;
  font-family: "jalnan";
  font-weight: 300;
  font-size: 18px;
}

.today-discount {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  width: 90%;
}

.today-discount__title span {
  font-size: 18px;
  color: black;
  font-weight: 600;
  font-family: "jalnan";
}

.today-discount__title {
  position: absolute;
  left: 0px;
}

.today-discount__title span:first-child {
  color: rgb(49, 53, 255);
}

.today-discount__list {
  margin-top: 30px;
  overflow-x: auto;

  height: 255px;
  width: 100%;
  display: flex;
  white-space: nowrap;
}

.today-discount__list::-webkit-scrollbar {
  display: none;
}

.today-discount__data {
  background-color: white;
  border-radius: 10px;
  /* box-shadow: rgba(128, 128, 128, 0.348) 0 0 3px; */
  border: 1px solid rgba(197, 197, 197, 0.353);
  margin-right: 10px;
  width: 200px;
}

.today-discount__data img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 5px;
}

.today-discount__data-detail div:first-child {
  line-height: 20px;
  height: 20px;
  width: 90%;
  color: black;
  font-family: gothic300;
  margin-bottom: 7px;
  overflow: hidden;

  text-overflow: ellipsis;
}

.today-discount__data-detail div:nth-child(2) {
  color: gray;
  font-family: gothic300;
  font-size: 13px;
}

.today-discount__data-detail div:nth-child(3) {
  color: black;
  font-family: gothic400;
  margin-top: 35px;
  margin-bottom: 15px;
}

.today-discount__data-detail div {
  margin-left: 10px;
}

.view-more {
  border: 1px lightblue solid;
  border-radius: 20px;
  color: blue;
  width: 160px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: gothic300;
  margin-top: 30px;
  margin-bottom: 15px;
}

.view-more span {
  margin-top: 5px;
}

.view-more span:first-child {
  margin-right: 5px;
  margin-left: 3px;
}

.view-more span:nth-child(2) {
  margin-right: 5px;
  color: rgb(81, 81, 238);
}

.recommend-travel {
  background-color: #f1f3f4;
  padding: 20px 0px;
  margin-top: 10px;
}

.recommend-travel__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  margin-right: 30px;
}

.recommend-travel__data img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.recommend-travel {
  width: 100%;
}
.recommend-travel__list {
  overflow-x: auto;
  white-space: nowrap;
  padding-left: 30px;
  height: 100px;
  width: 90%;
}

.recommend-travel__list::-webkit-scrollbar {
  display: none;
}

.recommend-travel__title {
  position: absolute;
  left: 22px;
}
.recommend-travel__data-detail-title {
  color: black;
}
.restaurant__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.restaurant__data {
  border-radius: 20px;
  background-color: #f8f9fa;
  width: 49%;
  height: 200px;

  margin-top: 6px;
}

.restaurant__data img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 80%;
}
.restaurant__data-detail-title {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: white;
  padding-left: 20px;
  padding-bottom: 50px;
}

.footer-title {
  margin-bottom: 15px;
}

.footer-title span:first-child {
  color: gray;
  font-weight: 600;
  font-family: gullim400;
}

.footer-title span:last-child {
  color: gray;
}
.footer-detail span:first-child {
  color: gray;
  font-size: 13px;
  font-family: gothic100;
  font-weight: 900;
  line-height: 20px;
}
.footer-detail span:last-child {
  color: gray;
  font-size: 11px;
  font-family: gothic200;
  font-weight: 300;
}
