.mypage-header {
  color: black;
  background-color: white;
}

.user-info {
  height: 100px;
  display: flex;
}

.user-nick-info {
  width: 70%;
  padding-left: 30px;
  padding-top: 30px;
}

.user-nick span {
  font-size: 20px;
  font-family: gothic400;
}

.user-nick {
  margin-bottom: 8px;
}

.user-level-info span {
  padding: 3px 6px;
  background-color: rgb(236, 219, 246);
  border-radius: 4px;
  color: var(--violet);
  font-size: 13px;
  font-weight: 900;
}

.user-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user-img i:first-child {
  width: 65px;
  font-size: 60px;
  color: rgb(255, 145, 0);
}

.user-img i:last-child {
  font-size: 14px;
  color: rgb(128, 60, 218);
  background-color: white;
  border-radius: 50%;
  padding: 4px;
  box-shadow: 0 0 5px gray;
  position: absolute;
  right: 0px;
  bottom: 20px;
}

.point-coupon {
  border: 1px solid darkgray;
  width: 89%;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point-coupon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43%;
  height: 100%;
  text-decoration: none;
  color: gray;
}

.point-coupon div {
  color: gray;
}
.point-coupon-nav {
  display: flex;
  justify-content: center;
}
.mypage-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.mypage-nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mypage-nav li > i {
  font-size: 30px;
  margin-bottom: 10px;
}
.mypage-nav li > span {
  font-size: 15px;
  font-family: gothic400;
}

.mypage-nav li:nth-child(1) > i {
  color: rgb(255, 200, 0);
}
.mypage-nav li:nth-child(2) > i {
  color: rgb(236, 132, 101);
}
.mypage-nav li:nth-child(3) > i {
  color: rgb(0, 225, 255);
}
.mypage-nav li:nth-child(4) > i {
  color: rgb(23, 216, 16);
}
.mypage-main {
  color: black;
  font-family: gothic300;
  background-color: white;
  padding: 20px 20px;
  height: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 20px -12px inset;
  padding-top: 40px;
}

.mypage-main > h3 {
  font-family: gothic400;
  margin-bottom: 20px;
}
.mypage-list li {
  margin-bottom: 20px;
}
