.zzim-header {
  display: flex;
  background-color: white;
  color: rgba(128, 128, 128, 0.7);
  font-family: gothic300;
  font-weight: 200;
}

.zzim-header div {
  width: 33%;
  text-align: center;
  padding: 15px 0px;
}

.zzim-header div:first-child {
  border-bottom: 2px solid blue;
  color: blue;
}
.zzim-form {
  background-color: white;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}
.zzim-date {
  width: 70%;
  height: 30px;

  margin-right: 20px;
}
.zzim-people {
  width: 20%;
}

.zzim-date,
.zzim-people {
  border-radius: 5px;
  background-color: rgba(223, 219, 219, 0.3);
  border: none;
  padding: 5px 10px;
}
.zzim-main {
  background-color: white;
  /* background-color: #f1f3f4; */
  padding: 0px 15px;
  padding-top: 7px;
  padding-bottom: 200px;
}
.zzim-detail {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
  box-shadow: 0 0 5px rgb(188, 187, 187);
}
.zzim-img {
  display: flex;
  margin: 20px 0px;
  width: 100%;
}
.zzim-img div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.zzim-img img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}
.zzim-level {
  font-size: 14px;
  font-weight: 600;
  color: gray;
}
.zzim-name {
  font-size: 16px;
  font-weight: 600;
  color: black;
  line-height: 30px;
}
.zzim-address {
  font-size: 13px;

  color: gray;
}
.zzim-discount {
  color: red;
  font-weight: 600;
  font-family: gothic400;
  font-size: 15px;
  margin-bottom: 8px;
}
.zzim-discount s {
  color: gray;
  font-size: 12px;
  font-weight: 200;
}
.zzim-price {
  font-weight: 900;
  font-family: gothic400;
}
.zzim-price::after {
  content: "원";
  font-weight: 300;
  font-family: gothic300;
}
.zzim-tag {
  display: flex;
}
.zzim-tag-detail {
  color: blue;
  background-color: rgba(135, 207, 235, 0.4);
  border-radius: 5px;
  padding: 3px;
  font-size: 12px;
  font-family: gothic300;
  margin-right: 5px;
}

.zzim-footer {
  background-color: #f1f3f4;
  display: flex;
  justify-content: center;
}

.zzim-footer img {
  width: 30%;
}
