.nav {
  height: 50px;
  border-top: 1px solid rgba(185, 182, 182, 0.5);
  display: flex;
  justify-content: center;
  background-color: white;

  position: fixed;
  bottom: 0px;
  width: 100%;
}
.nav__list {
  width: 770px;
  display: flex;
  justify-content: space-between;

  padding: 2px 20px;
  box-sizing: border-box;
}

.nav__btn a i {
  font-size: 22px;
  margin-bottom: 4px;
}
.nav__btn a:hover {
  color: var(--violet);
}

.nav__btn a span {
  font-size: 11px;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration-line: none;
  color: rgb(157, 156, 156);
  padding: 5px 15px;
}
.zzim-btn {
  position: relative;
}
.zzim-btn i {
}
.zzim-new {
  width: 10px;
  height: 10px;
  font-size: 9px;
  background-color: var(--violet);
  color: white;
  border-radius: 50%;
  position: absolute;
  right: 7px;
  top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

@media screen and (max-width: 770px) {
  .nav__list {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 2px 20px;
    box-sizing: border-box;
  }
}
